 
<div class="user-details">
      <h2> About Us </h2>
      <p> {{site.user_description}} </p>

</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="library" src="{{ "/assets/img/library.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Gaining an Edge with: </h3>
    <ul>
      <li> Factor Analytics </li>
      <li> Factor and Sector Rotation Trends </li>
      <li> Beta Hedging </li>
      <li> Systematic Trade Strategies </li>
      <li> Optimizing Quantitative Research Processes </li>

    </ul>
    <p> Rethink your investment process, get more alpha, and effectively manage risk.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
 
   <div class="images-left">
    <img alt="Fallbrook Research" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
 
  <div class="contents-right">
    <p> 
    <h3> Mission </h3>
  
  
      At Fallbrook Research we're leveraging data science with quantitative finance.  Today assets are flowing out of discretionary and into quantitative systematic strategies which have produced far more consistent alpha.  We seek to leverage operational analytics for systematic investment and algorithmic trading strategies.  Building on statistical and machine learning methods supported by big data with quantitative finance applications across the entire spectrum of the investment process; alpha, beta, risk management, and execution and trading.   

      One of the most important developments in investing centers on the shift to systematic and rules-based investment strategies as compared with purely passive (index investing) to semi-passive (smart beta) to quant (factor-based) and other investment strategies.  Processes evolution can help structure teams to become more quantitative and systematic.   Fallbrook is engaged in data driven trends,  interactive, and iterative data analysis at scale. to solve issues such as cyber security breaches and identity theft...  Operational Analytics... Multicollinearity or when independent variables are highly correlated to each other then the variables are said to be multicollinear. Many types of regression techniques assumes multicollinearity should not be present in the dataset. It is because it causes problems in ranking variables based on its importance. Or it makes job difficult in selecting the most important independent variable (factor).

      At Fallbrook we believe that machine learning should be used to identify asset and portfolio allocations in the context of risk and performance attribution.  We seek to move beyond traditional linear regression algorithms used by many quants to fit appropriate trading algorithms.
</p>
    <a class="project-link" href="#">Check it out</a>
  </div>

 <!-- 
 <div class="user-details">
  <div class="images-Center">
    <img alt="Fallbrook Research" src="{{ "/assets/img/logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersal</p>
    </div>
    <div class="tech">
      <h2>Implementation</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersal</p>
    </div>
    <div class="tech">
      <h2>Platform</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersal</p>
    </div>
</div> -->

