 
<div class="user-details">
      <h2> About Us </h2>
      <p> {{site.user_description}} </p>

</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="library" src="{{ "/assets/img/library.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Gain an Edge with: </h3>
    <ul>
      <li> Factor Analytics </li>
      <li> Factor and Sector Rotation Trends </li>
      <li> Beta Hedging </li>
      <li> Systematic Trade Strategies </li>
      <li> Optimizing Quantitative Research Processes </li>

    </ul>
    <p> Re-Think your investment process, more effectively manage risk, and get more alpha.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
 
   <div class="images-left">
    <img alt="Fallbrook Research" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
 
  <div class="contents-right">
    
    <h3> Mission </h3>
    
  <p> 
      At Fallbrook Research we're leveraging data science, quantitative finance, and operational analytics.  Assets are flowing out of discretionary and into quantitative systematic strategies which have produced far more consistent alpha.  We seek to leverage operational analytics for systematic investment and algorithmic trading strategies.  Building on statistical and machine learning methods supported by big data with quantitative finance applications across the entire spectrum of the investment workflows; alpha, beta, risk management, and execution & trade execution.
  </p>
  <p>
      One of the most important developments in investing centers on the shift to systematic and rules-based investment strategies as compared with purely passive (index investing) to semi-passive (smart beta) to quant (factor-based) and other investment strategies.  Processes evolution can help structure teams to become more quantitative and systematic.   Perform iterative data analysis at scale.
  </p>
  <p>
      Factors like momentum and value work but they don't work all the time.  We move beyond traditional linear regression algorithms used by many quants to better fit strategies.  At Fallbrook we leverage machine learning techniques to identify strategy fit within the current context and improve visiblity to shifts in risk and performance attribution.   
</p>
    <a class="project-link" href="#">Check it out</a>
  </div>

 <!-- 
 <div class="user-details">
  <div class="images-Center">
    <img alt="Fallbrook Research" src="{{ "/assets/img/logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersal</p>
    </div>
    <div class="tech">
      <h2>Implementation</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersal</p>
    </div>
    <div class="tech">
      <h2>Platform</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersal</p>
    </div>
</div> -->

