<div class="user-details">
      <h2> About</h2>
      <p> {{site.user_description}} </p>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="library" src="{{ "/assets/img/library.jpg" | prepend: site.baseurl }}" />
  </div>
  Gain an Edge with Fallbrook...
  <div class="contents">
    <ul>
      <li> Strategic Planning </li>
      <li> Cloud & Digital Transformation Methodologies </li>
      <li> Data Architecture & Design </li>
      <li> Research: Factor Analytics, Sector Rotation, Beta Hedging, & Risk Management </li>
      <li> Equity Research & Proprietary Valuation Subscriptions </li>
      <li> Implementation Methodology Licensing </li>
    </ul>
    <p> Let us help you securely transform, optimize, and manage your processes in the the cloud.  Fallbrook provides design & implementation support for cloud-managed processes & data pipelines. We can help to leverage your with quantitative methods to identify opportunities & mitigate risks.</p>

  </div>
</div>
