<table>
  <tr>
  {% if page.previous.url %}
    <td>
      <div id="previous-post" class="post-nav-post">
      {{ site.theme_settings.str_previous_post }}<a href="{{ site.baseurl }}{{ page.previous.url }}"> {{ page.previous.title }} </a> < <
      
      </div>
    </td>
  {% endif %}
  
  <td>  
    <div id="post-nav">
      <a href="/#posts" > Home </a>
    </div>
  </td>
 
  {% if page.next.url %}
  <td>
    <div id="next-post" class="post-nav-post">
      {{ site.theme_settings.str_next_post }}  > > <a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}</a>
    </div>
  </td>
  {% endif %}

      </div>
    </td>
  </tr>
</table>
