<div class="user-details">
  <h1> Active Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Factor-based Algorithms </h3>
    <ul>
      <li> Featured </li>
    </ul>
    <p>Conducting research in empirical asset pricing and behavioral finance. </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Fallbrook Research" src="{{ "/assets/img/logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Z99 </h3>
    <ul>
      <li> Mission: </li>
    </ul>
    <p> At Fallbrook Research we're improving operational analytics for systematic investment strategies.  Building on statistical and machine learning methods supported by big data with applications across the entire spectrum of the investment process; alpha, beta, risk management, and execution and trading.

        One of the most important developments in investing centers on the shift to systematic and rules-based investment strategies as compared with purely passive (index investing) to semi-passive (smart beta) to quant (factor-based) and other investment strategies.  Fallbrook is engaged in data driven trends,  interactive, and iterative data analysis at scale. to solve issues such as cyber security breaches and identity theft...  Operational Analytics... Multicollinearity or when independent variables are highly correlated to each other then the variables are said to be multicollinear. Many types of regression techniques assumes multicollinearity should not be present in the dataset. It is because it causes problems in ranking variables based on its importance. Or it makes job difficult in selecting the most important independent variable (factor).

        At Fallbrook we believe that machine learning should be used to identify asset and portfolio allocations in the context of risk and performance attribution.  We seek to move beyond traditional linear regression algorithms used by many quants.  Increased use of machine learning is driven by: (1) growth in computer memory, (2) faster computers, and (3) automatic data capture. Many firms that are keen to obtain and test “any dataset” for stock selection. We've found machine-learning methods are benefial in identifying appropriate trading algorithms.
</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
.
  {% twitter https://twitter.com/Fallbrook_RA maxwidth=500 limit=5 %}
</div>
