<div class="user-details">
  <h1> Active Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Factor-based Algorithms </h3>
    <ul>
      <li> Featured </li>
    </ul>
    <p>Conducting research in empirical asset pricing and behavioral finance. </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Z99 </h3>
    <ul>
      <li> Featured </li>
    </ul>
    <p>By allowing interactive and iterative data analysis at scale.. to solve issues such as cyber security breaches and identity theft...  Operational Analytics... Multicollinearity or when independent variables are highly correlated to each other then the variables are said to be multicollinear. Many types of regression techniques assumes multicollinearity should not be present in the dataset. It is because it causes problems in ranking variables based on its importance. Or it makes job difficult in selecting the most important independent variable (factor).
</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
